
<h1>Story</h1>
 
 
<!-- <button onclick="myFunction()">Roll Dice</button> 
<p id="demo"></p>
<script>
function myFunction(){
  int roll = Math.floor(Math.random() * 22) + 2
  document.getElementById("demo").innerHTML = roll
}
function draw_card(){
  @article = 
}
</script> -->

<p>
  <strong>Roll:</strong>
  <%= @article.num %>
</p>
<p>
  <strong>Story num:</strong>
  <%= @commentt.commenter %>
</p>
<%= link_to 'Back', articles_path %>